<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-control" >
    <div>width </div>
    <input type="number" [formControlName]="'width'">
    <span> px</span>
  </div>
  <p *ngIf="form.get('width').touched && form.get('width').invalid">Must Be A Number</p>

  <div class="form-control">
    <div>height </div>
    <input type="number" [formControlName]="'height'">
    <span> px</span>
  </div>
  <p *ngIf="form.get('height').touched && form.get('height').invalid">Must Be A Number</p>

  <div class="form-control">
    <div>border</div>
    <input type="number" [formControlName]="'border'">
    <span> px </span>
    <select [formControlName]="'borderStyle'">
      <option [value]="'none'">none</option>
      <option *ngFor="let style of borderStyles" [value]="style" >{{ style }}</option>
    </select>
    <input type="color" class="color" [formControlName]="'borderColor'">
  </div>
  <p *ngIf="form.get('border').touched && form.get('border').invalid">Must Be A Number</p>

  <div class="form-control">
    <div>borderRadius </div>
    <input type="number" [formControlName]="'borderRadius'">
    <span> px</span>
  </div>

  <div class="form-control">
    <div>margin </div><input type="number" [formControlName]="'margin'"><span> px</span>
  </div>
  <p *ngIf="form.get('margin').touched && form.get('margin').invalid">Must Be A Number</p>

  <div class="form-control">
    <div>padding </div><input type="number" [formControlName]="'padding'"><span> px</span>
  </div>
  <p *ngIf="form.get('padding').touched && form.get('padding').invalid">Must Be A Number</p>

  <br>
  <button class="submit" type="submit" [disabled]="form.invalid">submit</button>
</form>
