<section>
  <div class="example-button-row">
    <button *ngIf="element?.type === eButtonTypes.basic || buttonType === eButtonTypes.basic"
            class="{{ element?.type || buttonType }}"
            id="{{ element?.id }}"
            type="submit"
            [disabled]="disabled"
            [ngStyle]="addStyle()"
            (click)="saveForm()">
      {{ element ? element.styles.label.value : click }}
    </button>
    <button *ngIf="element?.type === eButtonTypes.primary || buttonType === eButtonTypes.primary"
            class="{{ element?.type || buttonType }}"
            id="{{ element?.id }}"
            type="submit"
            [disabled]="disabled"
            [ngStyle]="addStyle()"
            (click)="saveForm()">
      {{ element?.styles.label.value || click }}
    </button>
  </div>
</section>
