@import "~src/assets/variables";

section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

button {
  height: 40px;
  border-radius: 20px;
  width: 80px;

  &:disabled {
    cursor: not-allowed;
  }
}

.basic {
  background-color: $bg-color-white;

  &:active {
    background-color: $bg-color-grey;
  }
}

.primary {
  background-color: $bg-color-blue;
  color: $text-color-3;

  &:active {
    background-color: $bg-color-light-blue;
  }

  &:disabled {
    background-color: $bg-color-dark-blue;

  }
}
