<section>
  <div class="example-button-row">
    <button *ngIf="element.type === 'basic'"
            class="{{element.type}}"
            id="{{ element.id }}"
            [disabled]="disabled"
            [ngStyle]="addStyle()"
    >
      {{element.styles.label.value}}
    </button>
    <button *ngIf="element.type === 'primary'"
            class="{{element.type}}"
            id="{{ element.id }}"
            [disabled]="disabled"
            [ngStyle]="addStyle()"
    >
      {{element.styles.label.value}}
    </button>
  </div>
</section>
