<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ element.name }}
      </mat-panel-title>
      <mat-panel-description>
        <span *ngIf="element.id">ID: {{ element.id }}</span>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-general-styles *ngIf="element.name === elementNames.generalStyles"></app-general-styles>
    <app-form-style-input *ngIf="element.name === elementNames.input"
                          [form]="form"
                          (submit)="onSubmit()"
                          [element]="element">
    </app-form-style-input>
    <app-form-style-select *ngIf="element.name === elementNames.select"
                           [form]="form"
                           (submit)="onSubmit()"
                           [element]="element">

    </app-form-style-select>
    <app-form-style-checkbox *ngIf="element.name === elementNames.checkbox"
                             [form]="form"
                             (submit)="onSubmit()"
                             [element]="element"
    >
    </app-form-style-checkbox>
    <app-form-style-button *ngIf="element.name === elementNames.button"
                             [form]="form"
                             (submit)="onSubmit()"
                             [element]="element"
    >
    </app-form-style-button>
    <app-form-style-textarea *ngIf="element.name === elementNames.textarea"
                             [form]="form"
                             (submit)="onSubmit()"
                             [element]="element"
    >
    </app-form-style-textarea>
  </mat-expansion-panel>
</mat-accordion>
