<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ element.name }}
      </mat-panel-title>
      <mat-panel-description>
        ID: {{ element.id }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-form-style-input *ngIf="element.name === 'input'"
                          [form]="form"
                          (submit)="OnSubmit()"
                          [element]="element">
    </app-form-style-input>
    <app-form-style-select *ngIf="element.name === 'select'"
                           [form]="form"
                           (submit)="OnSubmit()"
                           [element]="element">

    </app-form-style-select>
    <app-form-style-checkbox *ngIf="element.name === 'checkbox'"
                             [form]="form"
                             (submit)="OnSubmit()"
                             [element]="element"
    >
    </app-form-style-checkbox>
    <app-form-style-button *ngIf="element.name === 'button'"
                             [form]="form"
                             (submit)="OnSubmit()"
                             [element]="element"
    >
    </app-form-style-button>
    <app-form-style-textarea *ngIf="element.name === 'textarea'"
                             [form]="form"
                             (submit)="OnSubmit()"
                             [element]="element"
    >
    </app-form-style-textarea>
  </mat-expansion-panel>
</mat-accordion>
