.auth-content{
  margin-bottom: 20px;

}
.auth{
  background: #d2d2d2;
  width: 410px;
  border:1px solid #808080;
  border-radius: 5px;
  padding-bottom: 40px;
  box-shadow: 0 0 10px rgba(0,0,0,0.7);
}
.auth-header{
  margin-bottom: 20px;
  background: linear-gradient(to top, #bdbdbd, #8d8d8d);
  width: auto;
  height: 55px;
  padding-top: 15px;
  border-radius: 5px;
}
.auth-align{
  text-align: -webkit-center;
  padding: 20px;
}

.alert {
  color: green;
}

.alert-danger {
  color: red;
}

