<div *ngIf="element">
  <div>
    <label>{{ element.styles.label.value }}</label>
  </div>
  <input id="{{ element.id }}"
         class="input"
         autocomplete="off"
         [disabled]="disabled"
         [ngStyle]="addStyle()"
         [(ngModel)]="value"
         [placeholder]="element.styles.placeholder.value"
         (blur)="onTouched()">
  <div>
    <mat-hint class="error" *ngIf="hasError">
      <span>Error, required input</span>
    </mat-hint>
  </div>
</div>

<span *ngIf="!element">
  <input id="{{ name }}"
         class="input"
         [type]="type"
         [disabled]="disabled"
         [(ngModel)]="value"
         [placeholder]="placeholder"
         (blur)="onTouched()">
  <div>
    <mat-hint class="error" *ngIf="hasError">
    <span>Error, required input</span>
  </mat-hint>
  </div>
</span>
