@import "~src/assets/variables";

p {
  color: rgba(38, 50, 56, 0.82);
  font-size: 18px;
}

.input {
  border: 1px solid $color-3;
  min-height: 20px;
  border-radius: 25px;
  padding: 5px;
  min-width: 50px;

  &:focus {
    border: 2px solid $color-1;
  }
}

.input-error {
  border-color: rgba(178, 16, 1, 1);
}
