<form [formGroup]="form" (submit)="onSubmit()">

  <div class="formControl">
    <div>label </div><input [formControlName]="'label'"><span> px</span>
  </div>

  <div class="formControl">
    <div>color </div><input type="color" [formControlName]="'color'"><span> px</span>
  </div>

  <div class="formControl">
    <div>font weight</div>
    <select [formControlName]="'fontWeight'">
      <option *ngFor="let weight of fontWeight" [value]="weight" >{{ weight }}</option>
    </select>
  </div>

  <div class="formControl">
    <div>font size </div>
    <input [formControlName]="'fontSize'">
    <span> px</span>
  </div>

  <div>
    <span>required </span>
    <input type="checkbox" [formControlName]="'required'">
  </div>

  <br>
  <button class="submit" type="submit" [disabled]="form.invalid">submit</button>
</form>
