@import "~src/assets/variables";

input{
  margin-bottom: 5px;
  height: 30px;
  border-radius: 4px ;
}
div{
  width: 350px;
}

.span-butt {
  cursor: pointer;
  color: $text-color-10;
}

.button {
  margin: 5px;
  padding: 5px 20px 5px 20px;
  border-radius: 5px;
}

.color-red {
  color: $text-color-2;
  margin: 5px;
}
