@import "~src/assets/variables";

app-input{

}
div{
  width: 350px;
}

.form-input {
  margin-bottom: 5px;
  height: 30px;
}

.span-butt {
  cursor: pointer;
  color: $text-color-10;
}

.button {
  margin: 5px;
  padding: 5px 20px 5px 20px;
  border-radius: 5px;
}

.color-red {
  color: $text-color-2;
}
