<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        select styles
      </mat-panel-title>
      <mat-panel-description>

      </mat-panel-description>
    </mat-expansion-panel-header>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="formControl" >
        <div>width</div>
        <input [formControlName]="'width'">
        <span> px</span>
      </div>
      <p *ngIf="form.get('width').touched && form.get('width').invalid">Must Be A Number</p>

      <div class="formControl">
        <div>height </div>
        <input [formControlName]="'height'">
        <span> px</span>
      </div>
      <p *ngIf="form.get('height').touched && form.get('height').invalid">Must Be A Number</p>

      <div class="formControl">
        <div>border</div>
        <input [formControlName]="'border'">
        <select [formControlName]="'borderStyle'">
          <option *ngFor="let style of borderStyles" [value]="style" >{{ style }}</option>
        </select>
        <input type="color" class="color" [formControlName]="'borderColor'">
      </div>
      <p *ngIf="form.get('border').touched && form.get('border').invalid">Must Be A Number</p>

      <div class="formControl">
        <div>border radius</div>
        <input [formControlName]="'borderRadius'">
        <span> px</span>
      </div>

      <div class="formControl">
        <div>font weight</div>
        <select [formControlName]="'fontWeight'">
          <option *ngFor="let weight of fontWeight" [value]="weight" >{{ weight }}</option>
        </select>
      </div>

      <div class="formControl">
        <div>font size </div>
        <input [formControlName]="'fontSize'">
        <span> px</span>
      </div>

      <div>
        <span>required </span>
        <input type="checkbox" [formControlName]="'required'">
      </div>

      <div class="formControl">
        <div>margin</div><input [formControlName]="'margin'"><span> px</span>
      </div>
      <p *ngIf="form.get('margin').touched && form.get('margin').invalid">Must Be A Number</p>

      <div class="formControl">
        <div>padding</div><input [formControlName]="'padding'"><span> px</span>
      </div>
      <p *ngIf="form.get('padding').touched && form.get('padding').invalid">Must Be A Number</p>

      <br>
      <button class="submit" type="submit" [disabled]="form.invalid">submit</button>
    </form>
  </mat-expansion-panel>
</mat-accordion>

<form [formGroup]="formOptions" (ngSubmit)="onSubmitOptions()">
  <div>
    <div class="formArrayInput" [formGroupName]="'first'">
      <span>name
        <input [formControlName]="'name'">
      </span>
      <span>value
        <input [formControlName]="'value'">
      </span>
    </div>
  </div>
  <div class="formArrayInput" [formGroupName]="'second'">
      <span>name
        <input [formControlName]="'name'">
      </span>
    <span>value
        <input [formControlName]="'value'">
      </span>
  </div>
  <div class="formArrayInput" [formGroupName]="'third'">
      <span>name
        <input [formControlName]="'name'">
      </span>
    <span>value
        <input [formControlName]="'value'">
      </span>
  </div>
  <button type="submit" [disabled]="formOptions.invalid">save options</button>
</form>
<br>

